.App {
  text-align: center;
  flex:1 1 0;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  display:flex;
 
  flex-direction:column;
  position: relative; 
  

  
}




.cvInfo {
  display:flex;
  
  flex-direction:column;
  flex: 1 0 0;
  padding:16px;
  background-color: white;
 
  
}

 
.education button,
.experience button {
  align-self: flex-start;
  
  
  
  
  padding:0px 8px 0px;
}


.education,
.experience {
  flex-direction: column;
  flex:1 1 0;
  
  

}


.experience .section {
  display:flex;
  flex:none;
  justify-content: space-between;
  
  border-top: 1px solid rgba(16, 54, 92,1);
  border-bottom: 1px solid  rgba(16, 54, 92,1);
  padding :  8px 0px 8px;
  color:rgba(16, 54, 92,1);
  box-shadow: 0px 1px rgba(16, 54, 92, 0.4);

}

.education .section {
  display: flex;
  flex:none;
  border-top: 1px solid rgba(16, 54, 92,1);
  border-bottom: 1px solid rgba(16, 54, 92,1);
  padding :  8px 0px 8px;
  color:rgba(16, 54, 92,1);
  box-shadow: 0px 1px rgba(16, 54, 92, 0.4);
  justify-content: space-between;
}


img {
  width: 200px;
  height:200px;
  border-radius: 50%;
  border: 3px solid antiquewhite;
  
}






.AdditionalInfo fieldset button {
  position:static;
 
  padding:0px;
  color:black;
  margin-top: 4px;
}
.content {
  display:flex;
  flex:1 1 0;
  
}


fieldset div {
  display:flex;
  flex-direction: column;
}


.buttons {
  flex-direction: row;
  gap:8px;
  padding-top:8px;
}


label {
  align-self: flex-start;
}

.item {
  padding: 16px 8px 16px 0px;
  display: flex;
  gap:100px;
  flex:1 1 0;
  
  

}

.item div {
  display: flex;
  flex-direction: column;
  
}


p {
  margin:0;
}


.Tocreate {
  flex-direction: column;
  
}





 .generalDescription button {
  align-self: center;
  position: absolute;
  right: 0%;
  
}


.generalDescription {
  position:relative;
  flex:0.5 1 0;
  display:flex;
  justify-content: center;
}

.generalDescription  fieldset {
 align-self: center;
}


.generalDescription  fieldset button {
  position: static;
}






.AdditionalInfo {
  display:flex;
  flex-direction:column;
  
  position:relative;
  background-color:rgb(16, 54, 92);
  color: antiquewhite;
  padding:32px;
  gap:20px;
  
  
}

.AdditionalInfo .Tomodify {
  position:relative;
  display:flex;
  flex-direction: column;
  padding-top:8px;
  border-top:1px solid antiquewhite
}

.AdditionalInfo button {
  
  position:absolute;
  bottom:50%;
  align-self: center;
 
  
  
  padding:8px;
  
}


.AdditionalInfo fieldset {
  bottom:0%;
  font-family: initial;
}




#root {
  padding:0px 250px 0px 250px;
  margin:0px;
  
  display:flex;
  background-color:rgba(43, 55 ,78,0.1) ;
}








h1,h2 {
  color: rgba(16, 54, 92, 1)
}
h2
{
 text-transform: uppercase;
 font-size: 20px;
}


fieldset {
  display:flex;
  flex-direction:column;
  position:absolute;
  background-color: white;
  right:0%;
  color:black;
  z-index: 1;

  
  
  
}




.image {
  display:flex;
  flex-direction: column;
  position:relative;
}

.image input {
 
  display:none;

}



.cvDynamic {
  display:flex;
  flex-direction: column;
  position:relative;
  flex: 1 1 0;
}


#Experience,
#Education {
  display:flex;
  flex-direction: column;

}


.skill {
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  gap:8px;
}

.skill .section {
   
   
   font-size: 20px;
   font-weight: 500;
   border-top:1px solid whitesmoke;
   width: 100%;
   border-bottom: 1px solid whitesmoke;
   box-shadow: 0px 1px whitesmoke;
  font-family: questa-grande,serif;
  padding: 8px 0px 8px 0px;
  
}

.skill .section  button {
bottom:40%;
left:40%
}

.experience {
  position: relative;
}

#jdate {
  text-transform: uppercase;
  letter-spacing: 1px;
 
  font-weight: 400;
  
}

#jlocation {
 
  font-style: italic;
  font-size:12px;
}

#jcompany,#jschool {
  font-style: italic;
    font-weight: 700;
    font-size: 16px;
    color:rgba(16, 54, 92, 1)
}

#jgpa,#jdescription {
  font-style: italic;
  font-size:10px;
}

#jjob,#jtitle {
    font-weight: 700;
    color: rgba(16, 54, 92, 1);
    font-size: 18px;
}












